.progress__container{
    position: relative;
    width: fit-content;
    margin: 15px auto;
    transform: rotate(270deg);
  }
  .progress__content{
    position: absolute;
    width: 480px;
    height: 480px;
    background-color: lightgray;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  .loader {
   position: relative;
   height: 500px;
   width: 500px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: white;
   z-index: 0;
   border: 5px solid black;
  }
  .loader:before {
   content: "";
   background-color: white;
   position:absolute;
   z-index:100;
   width:98px;
   height:98px;
   border-radius:50%;
   margin:auto auto;
  }
  .progress__container progress::-moz-progress-bar { background: red; }
  .progress__container progress::-webkit-progress-bar {background: red;}
  .progress__container progress::-moz-progress-value { background: transparent; }
  .progress__container progress::-webkit-progress-value { background: transparent; }
  .circle {
   border-radius: 100%;
   overflow: hidden;
   padding:0;
  }
  .showTimer{
      font-size: 10rem;
      z-index: 999;
      position: relative;
  }
  .button__timer{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  /*
  .spin {
    animation: spin .9s linear infinite;
   }
   
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  */
  @media screen and (max-width: 520px) {
      .loader{
        height: 95vw;
        width: 95vw;
      }
      .progress__content{
        height: 90vw;
        width: 90vw;
      }
      .showTimer{
        font-size: 30vw;
      }
      
  }